*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    line-height: 1.25;
}

body{
    background-color: #121212;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-image: url(images/background-img.png);
    background-size: cover;
    height: 208px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header > div{
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 2.6875rem;
    font-weight: 800;
    line-height: 1.5;
}

header a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 0.875em;
}

form{
    display: flex;
    max-height: 38px;
    gap: 0;
    position: absolute;
    bottom: -10px;
    font-family: inherit;
}

input{
    width: 62%;
    height: 38px;
    padding: 0.5625em 0.8125em;
    border: none;
    border-radius: 8px 0 0  8px;
    font-family: inherit;
    background-color: #2e2e2f;
    color: #A5A5A5;
    font-size: 0.875rem;
    font-weight: 500;
    background-image: url(images/search-Icon.png);
    background-repeat: no-repeat;
    background-position: 9px center;
}

input::placeholder{
    padding-left: 1.25em;
}

button.search-button{
  font-family: inherit;
   width: 30%;
   border: none;
   color: #FFFFFF;
   background-color: #4B4B4B;
   padding: 9px 11px 9px 17px;
   border-radius: 0 6px  6px 0;
   cursor: pointer;
}

main{
    text-align: center;
    margin: auto;
} 
.explore{
   display: flex;
   align-items: center;
   flex-direction: column;
   color: #2E2E2F;
   font-weight: 700;
   font-size: 1.125rem;
} 

.render{
    padding: 44px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.image-and-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
    border-bottom: 1.5px solid #2C2C2C;
    height: 221px;
}


.image-and-details:last-child{
    border-bottom: none;
}

img.movie-poster{
    width: 99px;
    height: 147px;
}

.movie-details{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title-rating,
.time-genre{
    display: flex;
    align-items: center;
}

.title-rating{
    gap: 5px;
}

.title-rating > h2{
    font-size: 1.125rem;
    font-weight: 500;
}

.title-rating i{
    color: #FEC654;
}

.title-rating > p,
.time-genre,
.plot{
    font-size: 0.75rem;
    font-weight: 400;
}

.time-genre{
    gap: 20px;
}

button.add-watchlist{
    display: flex;
    gap: 2px;
    background: none;
    border: none;
   color: #FFFFFF;
}

.time-genre i{
    cursor: pointer;
}

.plot{
    text-align: left;
    color: #A5A5A5;
}

.hidden{
    display: none;
}