*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #121212;
    font-family: "Inter", sans-serif;
    color: #FFFFFF;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header{
    background-image: url(images/background-img.png);
    background-size: cover;
    height: 208px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

h1{
    font-size: 43px;
    font-weight: 800;
    line-height: 24px;
}

header a{
    text-decoration: none;
    color: #FFFFFF;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
}


main{
    text-align: center;
    margin: auto;
} 

.explore{
   display: flex;
   align-items: center;
   flex-direction: column;
   color: #2E2E2F;
   font-weight: 700;
   font-size: 18px;
   line-height: 20px;
} 

.add{
    font-size: 14px;
    font-weight: 700;
    line-height: 20px;
    color: #FFFFFF;
    margin-top: 20px;
}

.render{
    padding: 44px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
}

.image-and-details{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 21px;
    border-bottom: 1.5px solid #2C2C2C;
    height: 221px;
}

.image-and-details:last-child{
    border-bottom: none;
}

img.movie-poster{
    width: 99px;
    height: 147px;
}

.movie-details{
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.title-rating,
.time-genre{
    display: flex;
    align-items: center;
}

.title-rating{
    gap: 5px;
}

.title-rating > h2{
    font-size: 18px;
    font-weight: 500;
    line-height: 20px;
}

.title-rating i{
    color: #FEC654;
}

.title-rating > p,
.time-genre,
.plot{
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
}

.time-genre{
    gap: 20px;
}


button.add-watchlist{
    display: flex;
    gap: 2px;
    background: none;
    border: none;
   color: #FFFFFF;
}

.time-genre i{
    cursor: pointer;
}

.plot{
    text-align: left;
    color: #A5A5A5;
}

.hidden{
    display: none;
}